.panel{
	height: 75px;
	background-color: #f7f7f7;

}
.banner{
	height: 900px;
	background-color: blue;
	transition: 0.8s;
	background-image: url(стол.jpg);
}
.nomera{
	height: 800px;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
}
.logo{
	height: 75px;
	margin-left: 100px;
}
.panel1{
	height: 75px;
	margin-left: 100px;
}
.block:hover{
	transform: scale(1.05);
	transition: 0.8s;

}
.fundament{
	height: 400px;
	background-color: orange;
}
.flex{
	display: flex;
}
.block img{
 	height: 280px;
 	width: 625px;
}

.pdt{
	padding-top: 80px;
}
.block{
	

}
.mgleft{
	margin-left: 50px;
}
h1{
	font-size: 20px;
	font-weight: 700;
	font-family: arial;
}
.div1{
	width: 1600px;
	margin-right: auto;
	margin-left: auto;
	margin-left: 100px;
	padding-top: 10px
}
.mgleft1{
	margin-left: 575px;
}


